[2019-12-02 05:28] tmattio opened #1 "Implement MVP"
Meta issue containing the list of things to implement to arrive at a working prototype:

**Cloning**
- [x] `spin new` clones `spin-templates` if not already in the cache dir or if not up to date
- [x] `spin ls` clones `spin-templates` if not already in the cache dir or if not up to date
- [x] `spin new` checks if the template is a local path before cloning (and after checking in list of official t

[2019-12-13 00:13] musha68k opened #2 "Spin list of templates doesn't work"
[code]

[2019-12-13 00:23] musha68k opened #3 "Help for spin new command with incorrect info on default path"
Default path is the current path.

[code]

[2019-12-13 00:29] musha68k opened #4 "Tutorial on how to write a man-page"

[2019-12-13 01:48] tmattio commented on #2
Probably a git error that is hidden (we redirect to `/dev/null` for stderr and stdout).
We should not redirect the stderr to `/dev/null`, but for some reason, git uses it as its standard output...

For now, simply checking the status code and not continuing if it's non-zero should be ok IMO.

[2019-12-13 01:57] #4 closed, assigned to musha68k

[2019-12-13 02:12] tmattio commented on #4
Duplicate of https://github.com/tmattio/spin-templates/issues/1

[2019-12-13 02:48] #3 closed, assigned to nobody

[2019-12-15 01:39] tmattio opened #9 "Use Spin as a base for official cli template"
As a CLI, Spin is a perfect candidate to bootstrap the official cli templates.
To do this, I would like to improve the quality of the repository first to create the best template possible.

Here is the list of the things I would like to review/discuss before creating the cli template:

- [ ] **Error handling** - Really not sure raising exceptions everywhere in the code is a good practice. Also, ma

[2019-12-21 00:29] tmattio opened #10 "Files are overwritten by generators"

[2019-12-21 00:30] tmattio opened #11 "Default value for list is off by one"

[2019-12-21 01:04] tmattio opened #12 "Decide on project structure and naming conventions"
OCaml and Reason communities have several different conventions for organizing code, naming modules and variables. There are, however, two conventions that stand out:

- In Reason: camelCase for variables and CameCase for modules
- In OCaml: snake_case for variables and snake_case for modules (which will be transformed into Snake_case).

One goal of Spin is to reduce the gap between OCaml and Reas

[2019-12-21 02:36] tmattio commented on #12
https://github.com/reason-native-web/morph is a good example of a repo that used OCaml conventions in Reason.

[2019-12-29 04:31] #11 closed, assigned to nobody

[2019-12-30 03:29] #2 closed, assigned to nobody

[2020-01-01 23:54] #12 closed, assigned to nobody

[2020-01-02 14:48] tmattio opened #15 "When sub-commands exit with non-zero codes, we continue the execution anyway"

[2020-01-02 14:49] tmattio opened #16 "Add verbose argument to display git logs"

[2020-01-02 14:49] tmattio opened #17 "Support windows"
There are currently a few blockers to support windows:

- [ ] Spin unit test fail on Windows
- [ ] Some templates cannot compile on Windows

[2020-01-02 14:49] tmattio opened #18 "Yarn installation fails"

[2020-01-02 17:10] tmattio opened #19 "Brew formula conflicts with an existing one"

[2020-01-03 21:06] curlrain opened #22 "Can't install on mac os 10.15"
`spin ls`

dyld: lazy symbol binding failed: Symbol not found: ____chkstk_darwin
  Referenced from: /Users/fabien/.npm-packages/bin/spin (which was built for Mac OS X 10.15)
  Expected in: /usr/lib/libSystem.B.dylib

dyld: Symbol not found: ____chkstk_darwin
  Referenced from: /Users/fabien/.npm-packages/bin/spin (which was built for Mac OS X 10.15)
  Expected in: /usr/lib/libSystem.B.dylib

[2020-01-03 21:15] tmattio commented on #22
@curlrain Thanks for the bug report!

Can you paste the output of the following commands here:

[code]

[2020-01-03 21:23] curlrain commented on #22
`Darwin MacBook-Pro-15.local 17.7.0 Darwin Kernel Version 17.7.0: Fri Oct  4 23:08:59 PDT 2019; root:xnu-4570.71.57~1/RELEASE_X86_64 x86_64`

`10.13.6`

`6.7.0`

[2020-01-04 21:41] tmattio commented on #19
Added a namespace in #21

[2020-01-04 21:41] #19 closed, assigned to nobody

[2020-01-04 21:45] tmattio commented on #22
Looking around for similar issues and it seems to be related to a client configuration.

Could you try to update/reinstall your xcode distribution:
[code]

If this doesn't work, could you try cloning the repository and see if you can compile the code?

Once downloaded, you can run:
[code]

[2020-01-06 21:04] kritchie opened #24 "Binary error on linux (debian)"
I'm getting a binary exec format error while trying to run this on Debian.

### System configuration

[code]

### Steps

Here's that I did:

1. Manually download https://github.com/tmattio/spin/releases/download/v0.4.1/spin-linux-x64.zip
2. Unzip it
3. `chmod +x spin`
4. `./spin`

### Error

Here's the error I'm getting:

[code]

### Extras

After running `file` command, looks like this exec was b

[2020-01-06 22:51] tmattio commented on #24
Thanks for opening an issue and all the details!

Your diagnostic was correct: we were releasing macOS's binaries for Linux. You can try again with the version 0.4.2, it should be fixed.

[2020-01-10 02:51] tmattio commented on #24
Going to close this, assuming the install is ok now. Feel free to re-open if this didn't solve the problem.

[2020-01-10 02:51] #24 closed, assigned to nobody

[2020-01-12 00:46] tmattio commented on #22
Will close for now as I think the error is caused by the client environment. Please feel free to re-open if you want help in debugging this.

[2020-01-12 00:46] #22 closed, assigned to nobody

[2020-01-12 06:07] tmattio opened #25 "Download git repo in cache dir"

[2020-01-12 06:33] #18 closed, assigned to nobody

[2020-01-12 17:06] idkjs opened #26 "esy start failing on bootstrap"
After bootstrapping with `spin new native tdlib-reason`, `esy start` is failing:

[code]

Did I miss a step? Thanks.

Nice work here @tmattio! Thanks for sharing it.

[2020-01-13 00:48] tmattio commented on #26
Hi @idkjs!

Thanks for trying out Spin!
I've pushed a fix in the native template for this, let me know if that works for you now :)

[2020-01-13 05:03] #9 closed, assigned to nobody

[2020-01-13 14:53] idkjs commented on #26
Works.

[code]

[2020-01-13 14:53] #26 closed, assigned to nobody

[2020-01-13 14:57] idkjs commented on #26
Unrelated so didn't want to open a new issue. How did you make your demo image on the readme? Its really well done. Thanks.

[2020-01-14 00:28] tmattio commented on #26
@idkjs It's a combination of two scripts:

- [scripts/demo-emulate.sh](https://github.com/tmattio/spin/blob/master/scripts/demo-emulate.sh)

Emulates keyboard input on the shell, so you don't have to type the commands yourself.

- [scripts/demo-record.sh](https://github.com/tmattio/spin/blob/master/scripts/demo-record.sh)

Records what's happening on the CLI and save it it a SVG file.

To record t

[2020-01-14 00:38] idkjs commented on #26
@tmattio thank you, sir.

[2020-01-14 01:24] tmattio opened #27 "Support Opam workflow"
The templates currently don't support an Opam workflow. We need to support it.

As far as I can tell, the current blockers are the `reason-native` projects that are not published on Opam. Maybe we need to use alternatives, or maybe there is a way to add Github dependencies on Opam files.

As part of supporting an Opam workflow, we should also release Spin on Opam.

[2020-01-14 01:42] tmattio opened #28 "Add a `config` subcommand to configure global context"
The global context would allow users to set stuff like:
- Their name, email, github username, npm organization
- Their prefered syntax

When adding this, we should probably add a flag `--ignore-config` to force the prompt of the values defined in the global context.

[2020-01-14 01:43] tmattio opened #29 "CI/CD scripts contain template variables and are ignored"

[2020-01-14 22:51] #28 closed, assigned to nobody

[2020-01-14 23:17] #29 closed, assigned to nobody

[2020-01-17 03:27] jdeisenberg opened #31 "Upper vs. lower case"
When I created a ReasonML project with `spin new native SpinTest`, file names become all lower case (`spintest_app.re`, for example). ReasonML modules should begin with upper case. Is there some way to preserve the capitalization that I entered for the project name when prompted:

[code]

[2020-01-17 16:21] jdeisenberg opened #32 "Char.code not found"
I created a new project:

[code]

Then modified `bin/spintest_app.re` to read as follows:

[code]

Then attempted to build the project:

[code]

This error does not occur with the same code in the `hello-reason` template from https://github.com/esy-ocaml/hello-reason.git

[2020-01-18 05:19] citizen428 commented on #32
Spin uses [Base](https://opensource.janestreet.com/base/) instead of OCaml's standard library, so it's `Char.to_int c`.

<img width="369" alt="Screen Shot 2020-01-18 at 12 18 34" src="https://user-images.githubusercontent.com/47985/72659080-0a6b7d80-39b2-11ea-907b-ee21c28cf305.png">

[2020-01-21 20:21] idkjs opened #33 "running `spin gen` in terminal throws error"
[code]

[2020-01-28 18:21] Dean177 opened #34 "Running offline after installation crashes"
I installed spin, then later whilst I was offline tried to generate a new project:

[code]

But this cased an exception to be raised.

[code]

It looks like there are two issues:
- In `template_official.re` `"Done"!` gets printed regardless of the clone succeeding.
- Spin needs to be online the first time it is run.

[2020-01-29 04:00] tmattio commented on #33
Hi @idkjs, thanks for opening an issue!

There are no generators for the `native` template. If you want to test the generators, you can use the `cli` template which contains generators for subcommands (`spin gen cmd`).

That being said, I'll look into fixing this error to output a better message.

[2020-01-29 04:06] tmattio commented on #34
Hi @Dean177, thanks a lot for trying out Spin and opening an issue.

I'll look into fixing the `Done!` notification when an error occurs.

Spin does not currently support offline usage, even if you already used it once, as it will try to update the official templates every time you run a command. Supporting offline usage is on my to do list, I'll look into it as soon as I have time (currently trav

[2020-01-29 04:15] tmattio commented on #31
Hi @jdeisenberg, thanks a lot for trying out Spin and opening an issue!

One of Spin's goals is to bridge the gap between OCaml and Reason. To follow this guidelines, I want to use the same naming conventions for the OCaml syntax and the Reason syntax.

I wrote a bit about it here: https://github.com/tmattio/spin/blob/master/docs/naming-conventions.md

I've also made some research on what people a

[2020-01-29 04:15] #31 closed, assigned to nobody

[2020-01-29 04:29] tmattio commented on #32
Hey @jdeisenberg, thanks for opening this issue!

@citizen428 is right, Spin uses Base as a standard library.

OCaml's standard library being minimalist, people tend to use other standard libraries (Containers, Batteries, Base, Core, etc.)

One design principle that I follow with Spin is convention over configuration. The templates are therefore opiniated. Having the same standard library for all

[2020-01-29 04:29] #32 closed, assigned to nobody

[2020-02-07 15:18] #34 closed, assigned to nobody

[2020-02-07 16:02] #10 closed, assigned to nobody

[2020-02-07 16:02] #15 closed, assigned to nobody

[2020-02-07 16:02] #33 closed, assigned to nobody

[2020-02-07 16:26] citizen428 commented on #33
Funny, I wanted to fix this, started looking at the code to see how to deal with the problem, figured it out, pulled once more just in case, and you fixed it in the meantime :smile:

[2020-02-07 16:28] citizen428 commented on #16
Do you mean a verbose argument to `spin` itself, which determines whether or not we keep the git output like this?

[code]

If yes, I can do that.

[2020-02-08 09:27] tmattio commented on #16
Exactly yes!

Also, the `git clone` command outputs everything to stderr, so with a verbose mode we could remove the redirection of stderr to `/dev/null` for this specific command.

We could also change the default behaviour of the post install commands in the templates to not write to stdout by default.

I saw this as an opportunity to improve the `cli` template, so I wanted to spend some time th

[2020-02-10 10:57] citizen428 commented on #16
Great, thanks for the extra context/info 😃

Regarding the other considerations you mentioned:  maybe it's worth splitting that into a separate issue. One — a verbose flag — is narrowly scoped and immediately useful to some people, the other may take a bit to get right.

[2020-02-10 16:07] tmattio opened #39 "Add generator for arguments global to all subcommands in cli template"
Here are some consideration to have when designing the solution:

- How can we provide the value with an env variable as well (the order of priority would be env variable -> cli argument -> default value)
- What is the best way to add arguments common to all sub-commands, while conserving the sub-commands separation, to use with spin gen cmd
- Can we create common arguments with a modular design?

[2020-02-10 16:08] tmattio commented on #16
Good suggestion, just created #39 for the template related work.
Thanks!

[2020-02-10 16:09] tmattio opened #40 "Support Azure CI in the official templates"

[2020-02-10 16:11] tmattio opened #41 "Check for post install dependencies before generating"
If the template contains post install commands, we should check if the users have the required command on their system.

Probably checking for the return code of `which` is enough.

If the user does not have one of the dependency, the project generation needs to be interrupted with an error message.

[2020-02-10 16:19] tmattio opened #42 "Remove Pesy and move test runner to test directory"
I've been experimenting with new official templates (namely, `lib`, `rest` and `graphql`), and Pesy is not supporting a few use cases that we need.

To unable these use cases, we need to remove Pesy from the official templates (consistency between all the official templates is a must) and add the dune files manually. This will also allow us to move the test runner in the test directory with a cust

[2020-02-10 16:59] citizen428 commented on #39
According to the [Cmdliner docs](https://erratique.ch/software/cmdliner/doc/Cmdliner.html) we sort of get the env variable for free, at least if the argument is not specified:

The [Cmdliner examples](https://erratique.ch/software/cmdliner/doc/Cmdliner.html#examples) give an example of an application with a similar interface to DARCS, which handles this via a `copts` type and an accompanying `copt

[2020-02-11 14:36] citizen428 opened #43 "Evaluate Tablecloth as standard library"
As mentioned in #12:

[Tablecloth](https://github.com/darklang/tablecloth) aims to provide a consistent standard library between BuckleScript and Reason Native. As such it addresses the concerns mentioned in the above linked issue. Should we explore the feasibility of Tablecloth as standard library for Spin? Or make it an option during `spin new`?

[2020-02-11 17:18] #41 closed, assigned to nobody

[2020-02-14 13:59] Et7f3 opened #45 "Reduce redundencies of templates"
Here is a example: https://github.com/tmattio/spin-templates/blob/master/cli/template/.gitignore this file is in each template so if one update one template it might also have to update other template. For instance the [.gitignore proposed by GitHub](https://github.com/github/gitignore/blob/master/OCaml.gitignore). We can miss it easily. It would be cool if we can have a base template and override

[2020-02-14 18:33] tmattio commented on #43
Hey @citizen428!

I wanted to share a few thoughts on this and I've been procrastinating to write them down 😄
Really appreciate the suggestion - will follow up on this soon!

[2020-02-14 18:44] tmattio commented on #45
Hi @Et7f3, thanks a lot for opening an issue!

I agree that there are a lot of duplication in the templates, it would be useful to have a base template. I've been thinking of a few solutions and I am not sure how to solve this without introducing a lot of additional complexity. Will keep thinking about it, but maybe I'll wait for this issue to become more painful before addressing it (i.e. when we

[2020-02-15 01:43] idkjs opened #47 "Question on `.spin` file"
Does the `.spin` file have a purpose after the project is set up?

Can we do something like run `spin` in the root and it reads the `.spin` file to execute?

Never seen a `.spin` extension before. Thanks for any insight.

[2020-02-15 16:53] tmattio commented on #47
Hi @idkjs!

The `.spin` file is used for the generators. To be able to list and use the generators specific to the template you used to generate the project, Spin needs to have access to the information present in this file.

Granted, the generators are not a prominent feature at the moment, but I expect they will become very useful for the web server templates (think `mix ecto.gen.schema` but for

[2020-02-15 17:41] idkjs commented on #47
Thanks for that. So is that just a here thing or is there a `.spin` project somewhere? I saw [Propeller Spin](https://www.parallax.com/downloads/propeller-tool-software-windows-spin-assembly) but I dont think that is it.

[2020-02-15 19:29] tmattio commented on #47
Yes, nothing to do with Propeller Spin, it's a format defined by Spin that I'll document at some point 🙂

[2020-02-15 19:35] #47 closed, assigned to nobody

[2020-02-19 17:08] tmattio opened #50 "Add warning message when no config file is found"
The templates are becoming really heavy on the prompts... To cope with that, we added a `spin config` command that allows users to configure a global context so that they can skip general prompts such as their names.

However, a first time user might not know about `spin config` and be discouraged to use Spin due to the time it takes to create a new project.

We could add a warning to the users if

[2020-02-19 17:09] tmattio opened #51 "Support cli with no subcommands"
There are two types of CLIs a user might want to create:

- A single command, with arguments and options, such as `curl`
- A multi-command CLI, with subcommands which themselves have arguments and options, such as `git`

The CLI template currently generates the second option, but it should allow the user to build a single command as well.

This can be added as an new template option when configuri

[2020-02-19 17:10] tmattio opened #52 "Create a Docusaurus website"
The website will contain:

- Announcement post (WIP) and upcoming articles
- General Spin documentation (Install, Config, New project, Generators, etc.)
- List of the templates and their features
- Tutorials

[2020-02-19 17:11] tmattio opened #53 "Add more official templates"
A meta issue to track the official templates we (might) want to develop.

- [ ] **data-science** - Data Science workflow.
- [ ] **desktop** - Native UI application using Revery.
- [ ] **graphql-api** - HTTP server that serves a GraphQL API.
- [ ] **rest-api** - HTTP server that serves a REST API.
- [ ] **react-components** - React component library with Storybook.
- [ ] **bs-bindings** - BuckleScr

[2020-02-19 17:41] tmattio commented on #45
One idea could be to add an `extend` stanza in the template.
It would have two fields:
- `source` - The source of the template to extend
- `except` - A list of file pattern to ignore when extending.

When using the extend stanza, the prompt configs would be merged, all other stanza in the base template would be ignored (simple way to avoid conflicts), the base template would first be generated wit

[2020-02-20 14:14] citizen428 commented on #51
I just started a single command CLI from the template and I didn't think it was particularly geared towards multi-command apps. To clarify, what would the differences between the two templates be exactly?

[2020-02-25 22:30] travisbrady opened #55 "Symbol not found: ____chkstk_darwin on mac"
I received the error below when trying to create a new project on a late 2015 Mac running Sierra.

This is with a fresh install of spin via `brew`

Error:
[code]

Machine details:
[code]

[2020-02-28 15:14] wokalski opened #56 "Put test_runner and test in one directory"
[code]

[2020-03-05 23:56] tmattio commented on #51
By multi-command CLI, I mean CLIs such as `git` or `aws`. You cannot use the command alone, you need to use one of the subcommand, which themselves have their own arguments and options.

A single command CLI would be closer to `curl`, or `wget` for instance, where you can use the command alone by adding the arguments and options directly.

The current templates is geared towards multi-command apps

[2020-03-06 00:01] tmattio commented on #56
Hi @wokalski!

Thanks for the suggestion. I've actually done this as part of my work to support an opam workflow. I still need to polish a few things but I should be able to merge it soon!

[2020-03-06 00:06] tmattio commented on #55
Hi @travisbrady!

Thanks for opening the issue. Seems to be the same as #22

From the information I've gathered, I think it's because the macOS's version Spin's binaries were compiled on is not compatible with your macOS's version.

I will look into it more and might need your help to try a few things as it's difficult for me to reproduce the error.

[2020-03-06 00:08] tmattio commented on #50
Fixed in #54

[2020-03-06 00:08] #50 closed, assigned to citizen428

[2020-03-06 21:57] dylanirlbeck commented on #43
Just wanted to pitch in here.

Tablecloth hasn't had a new release in about ~8 months, if I remember correctly. Paul has just been extremely busy with Dark. That said, there's a new standard library (that forked Tablecloth and has been adding to it, with docs as well) that hasn't had an official release, but will soon.

That library lives at https://github.com/dean177/reason-standard. Check it out

[2020-03-06 22:01] dylanirlbeck commented on #1
@tmattio Do you need any help setting up the `lib` template? I've done a bit of work with publishing libraries for BuckleScript and Reason native, so I might be able to contribute. Just let me know!

[2020-03-07 18:10] davesnx opened #57 "workflow/release.yml seems to fail due a __dirname missing"
It fails on getting "Get Esy binary path".

Here's an example: https://github.com/davesnx/styled-ppx/runs/492428441?check_suite_focus=true

[2020-03-08 23:57] tmattio commented on #57
Hi @davesnx!

Thanks for opening the issue. From what I can see, you changed the default binary name of the ppx from `styled-ppx.exe` to `styled-ppx`.

The CI/CD script tries to get the path of the binary with this call:
[code]

So you'll also need to change that to:
[code]

[2020-03-08 23:59] tmattio commented on #57
While I have you here, I'd also like to say I'm very happy to see Spin being used to create a PPX! If you have any feedback or ideas on the PPX template, don't hesitate to share them 😄

[2020-03-09 00:16] tmattio commented on #1
Hi @dylanirlbeck, thanks a lot for offering your help!

The reason I haven't pushed the `lib` template yet is because the templates were lacking support for Opam. It didn't make sense to me to create a `lib` template without being able to release it on Opam, so I've tackled it first. I'm almost done with it, and the `lib` template will be pushed in `spin-templates` at the same time.

You can follo

[2020-03-09 05:30] tmattio commented on #55
@travisbrady I just released a new version of Spin with a potential fix for this, could you try installing it again?

[code]

[2020-03-09 08:59] davesnx commented on #57
Ye, was a silly mistake :,(

Maybe we could go into Discord?

[2020-03-09 08:59] #57 closed, assigned to nobody

[2020-03-09 23:02] bentxt commented on #55
Hi, I hope its ok to chime in. Spin doesn't run when installed with brew:

[code]

esy is fine,

[code]

but its unclear how to proceed now. How to install with esy? `esy install` doesn't seem to make spin available.

[2020-03-09 23:19] tmattio commented on #55
@bentxt This is with the latest version of Spin (0.5.0)?

If you want to install Spin from the source, you can run `esy dune install` at the root of the repository.

[2020-03-10 00:23] bentxt commented on #55
I may forgot to brew upgrade?

[code]

[2020-03-10 00:24] bentxt commented on #55
spin --version is weird ...

[code]

[2020-03-10 00:28] tmattio commented on #55
@bentxt If you've installed spin with homebrew before, you'll probably need to uninstall it first with `brew uninstall tmattio-spin`, and install it again with `brew install tmattio/tap/spin` (the formula changed).

If you're seeing this version, I assume you're installing from the sources. When we release we run `esy dune subst` which will replace the watermarks in the code with their correspondi

[2020-03-13 12:44] Splingush opened #58 "Internal error, uncaught exception: unexpected sum tag"
Hey folks!

When I run `spin new react` I get an

[code]

Installed | Version
------------|-----------
spin        | `0.5.0`
Arch Linux |`5.5.8-arch1-1`
OCaml | `ocaml-base-compiler.4.08.1  4.08.1`
opam | `2.0.6`
esy | `0.6.2`
ppx_sexp_conv | `v0.13.0`
sexplib | `v0.13.0`
sexplib0 | `v0.13.0`

I get the same error regardless of installation-method: I've tried doing it through yarn (global) and thr

[2020-03-14 16:33] tmattio opened #59 "Add basic project generation test in CI/CD"
The release of Spin 0.5.0 is incompatible with the current version of the templates. We should have spotted that before releasing it. To ensure we don't publish a version that can't even generate a project, we need to add a basic project generation test in Spin's CI/CD.

[2020-03-15 08:09] citizen428 commented on #58
@tmattio Seems this is related to https://github.com/tmattio/spin/commit/f6271c15cdc19abe8958be72b12c487722d73f70#diff-a03fd0d73e697723d0baa5e249166b9d, where command was removed from `lib/config_file/config_file_doc.re`, so we now can't deserialize the sexp.

Edit, just checked out the `next` branch of https://github.com/tmattio/spin-templates, were the changes made in preparation for that?

[2020-03-15 08:21] citizen428 commented on #51
@tmattio I'm not sure when I get around to this, so I unassigned myself for the time being in case someone else wants to pick it up.

[2020-03-16 14:06] tmattio opened #61 "Add versionning for the templates"
Spin should not depend on the master branch of the official templates. This is causing every breaking changes of the templates to break any version of Spin that does not support the change.

Instead, we should depend on a major version checkout only minor or patch updates. We can versionize the templates with git tag.

[2020-03-16 14:12] tmattio commented on #58
Hi @Splingush, thanks for reporting the issue.

Indeed the last version of Spin is incompatible with the current version of the templates and depends on the `next` branch which should be merged soon. I should have spotted that before releasing, I will add a check in the CI to prevent this from happening in the future.

Unfortunately, as there is currently no versioning of the templates, fixing thi

[2020-03-17 16:11] liamgriffiths opened #62 "Unknown error when using `spin new native <name>`"
Thanks in advance to anyone that takes a look at this one.

I'm getting an exception + stack trace when trying to create a new native project. I coped the terminal output I'm seeing below.

[code]

As for the versions of things I have - they are here.

[code]

Let me know if I can provide some more information! ❤️

[2020-03-18 01:48] #42 closed, assigned to tmattio

[2020-03-18 01:48] #56 closed, assigned to nobody

[2020-03-18 01:48] #1 closed, assigned to tmattio

[2020-03-18 01:48] #27 closed, assigned to tmattio

[2020-03-18 02:18] tmattio commented on #62
Hi @liamgriffiths, thanks for reporting this.

This is the same issue as #58. I merged the dependence in spin-template, so you should be able to generate projects with 0.5.0 now.

I'm going to close this and keep #58 to track the remaining work related to it.

[2020-03-18 02:18] #62 closed, assigned to nobody

[2020-03-18 02:22] tmattio opened #64 "Add Bucklescript integration test in PPX template"
This was included in the template initially, but I had problems with it while working on Opam's support, and I've removed it to be able to release faster.

We should add it back at some point as it's a must-have for people who develop PPXs for Bucklescript.

[2020-03-18 02:32] #61 closed, assigned to tmattio

[2020-03-18 03:00] tmattio commented on #58
@Splingush I've just released version 0.5.1 on NPM and Homebrew, it should be working now with 0.5.0, but I recommend upgrading to 0.5.1 to avoid any problem if we push a breaking change to spin-templates.

[2020-03-18 21:02] br1anchen commented on #58
Upgrade to `0.5.1` now, but still got same `Raised at file "sexp_conv.ml", line 203, characters 30-72` error when run `spin new cli xxx` on Arch Linux 5.4.24 (Manjaro)

[2020-03-19 03:48] tmattio commented on #58
@br1anchen That's strange, I can't reproduce this with `0.5.1`.

What is the current commit of your local `spin-templates`?

[code]

It should be `8b448abb549bb8e62240601eca32e66cf68d968f`. If it's not, it means Spin failed to checkout the correct version. Do you see this message when you run `spin new cli xxx`?
[code]

[2020-03-19 20:57] br1anchen commented on #58
@tmattio Thanks for the info.
The hash for `~/.cache/spin/spin-templates` is `dd8622f82c8d4ac3407b5d2514bc6a84788d9b1e` in this case. As you thought, it seems like `Spin` failed to checkout out latest `spin-templates`.
I manually check out latest master commit for `spin-templates`, then it works!
I got `would clobber existing tag` error when pulling templates before, it is a mismatch for git tags.

[2020-03-19 21:01] Splingush commented on #58
Works for me now, cheers!

[2020-03-19 21:01] tmattio commented on #58
@br1anchen Ah, I see what happened. I created a tag `2.0.0`, then changed it to another commit. You probably cloned the repo in between.

Glad it works now :)

[2020-03-19 21:02] tmattio commented on #58
@Splingush Great, closing the issue then. Thanks for your patience!

[2020-03-19 21:02] #58 closed, assigned to nobody

[2020-03-19 21:09] Splingush opened #65 "Bug: Will not create cli template if a folder called cli is present"
[code]

Installed | Version
------------|-----------
spin        | `0.5.1`
Arch Linux |`5.5.8-arch1-1`

Happens with the names of other templates too (`lib`, `ppx`, ...)

[2020-03-19 21:58] tmattio commented on #65
Thanks for reporting this!

This happens because Spin can generate a project from a local template. For instance, this:
[code]

is equivalent to:
[code]

However, we should not try to use the directory as a local template if it does not contain the files `spin` and `template/spin`, even if the directory exists.

Will fix it, but as a workaround, you could run:
[code]

[2020-03-20 02:06] Splingush commented on #65
Oh I see. I did not think of this behavour, because it seems to be not documented:
[code]

Thank you for your quick response, as always, and for your workaround!

[2020-03-22 15:44] citizen428 commented on #65
@tmattio If you aren't already working on this, I'll look into it, ok?

[2020-03-22 15:49] tmattio commented on #65
@citizen428 Sure! I won't have time to work on Spin before a few days. Thanks 🙂

[2020-03-24 09:45] johnridesabike opened #67 "Spin fails to generate Bucklescript project even when npm is installed"
Using Spin 0.5.1 on MacOS and running `spin new bs-react spin-test`

[code]

I don't have yarn installed. It would be nice if was smart enough to use either yarn or npm.

[2020-03-25 12:36] #65 closed, assigned to citizen428

[2020-03-25 12:40] tmattio commented on #67
Hi @johnridesabike, thanks for reporting the issue!

Without adding extra complexity and detecting installed commands, a fix for this could be to use `npm` instead of `yarn`, since I think it comes by default when installing `node`, so it would be safer to assume that users have `npm` installed on their systems.

[2020-03-25 15:02] johnridesabike commented on #67
Would it make sense to make an option for it? I’m imagining something like:

[code]

And if you select `n` it can say something like:

[code]

I imagine that anyone with yarn installed is familiar enough with it to know how to run it themselves. This approach is still flexible enough to let users use whichever package manager they want.

[2020-03-25 22:48] tmattio commented on #67
@johnridesabike I'm a bit hesitant to add new prompts. I feel like Spin already asks too many questions when generating projects. If there is a satisfying solution to this that does not require adding a new prompt, I'd prefer to look into it.

In fact, thinking about your first suggestion, I think the cost of the added complexity of using one command or the other depending on the user's system wil

[2020-03-26 14:28] citizen428 commented on #67
@tmattio While not quite as convenient, skipping the post-install command and outputting a message like "Please run yarn/npm install to install all dependencies" seems like an option that could at least be considered.

[2020-03-26 14:45] tmattio commented on #67
@citizen428 Good idea! Actually, we could tweak the behavior of the post-install commands to make them optional. If the post-install command is optional, it will run only if the user has the command on its system, otherwise, it would just ignore it, or eventually write a non-error message. What do you think?

EDIT: Maybe that's what you meant by "skipping the post-install"?

[2020-03-26 16:11] citizen428 commented on #67
Your proposed solution is slightly more sophisticated than what I had in mind, I wouldn't even have attempted to run the command, just unconditionally output the message.

I like your approach though, as we'd essentially just have to change the following pattern match:

[code]

Instead of raising `Errors.External_command_unavailable` we could just print an error like

[code]

On second thought, th

[2020-03-26 16:26] citizen428 commented on #67
@tmattio I quickly hacked something together, this is what it looks like:

<img width="476" alt="Screen Shot 2020-03-26 at 23 24 58" src="https://user-images.githubusercontent.com/47985/77670663-6a683c80-6f7e-11ea-9dd0-798cc26134d9.png">

[2020-03-27 12:45] johnridesabike commented on #67
For what it's worth, Create React App will automatically use either yarn or npm: https://github.com/facebook/create-react-app/blob/master/packages/create-react-app/createReactApp.js#L333

[2020-03-27 15:56] citizen428 commented on #67
Thanks @johnridesabike! But I do think it makes more sense for Spin to have consistent handling of all post-install commands rather than a special case for `npm`/`yarn`.

[2020-04-03 18:30] danielo515 opened #70 "CLI template, why do you open Base?"
Hello!
Thank you for this project that lets me easily get into native reason development.
Today I experienced some weird errors until I look quiet (I calm myself down and come back) and I realized the problem.
My problem was that I copy pasted some code from another project which was using `Sys.read_dir` and friends, and all those calls were erroring out.
I look for documentation, and Sys had thos

[2020-04-05 15:50] citizen428 commented on #70
As you may be aware there are several competing standard libraries for OCaml: Batteries, Base, Containers, to name a few. This is largely due to the fact that until relatively recently (maybe around 4.07) OCaml's standard library wasn't particularly complete. While that's slowly changing, many people are still using alternatives, and Base has been popularized by being used in [Real World OCaml](ht

[2020-04-06 08:02] danielo515 commented on #70
Thanks. I understand that it makes a lot of sense to include Base already on the dependencies, but knowing that it shadows some important core modules, why opening it as default? Why not explicitly open on the places where it is needed and anything else?

[2020-04-06 14:10] tmattio commented on #70
Hi @danielo515, sorry that you had troubles setting up your project. Maybe we could add a line in the contributing guides of the templates saying that the project uses Base, with a link to the documentation.

As to why we open Base by default, this is the recommended way to use the library: https://github.com/janestreet/base#using-the-ocaml-standard-library-with-base

Most people using Base will s

[2020-04-09 13:21] danielo515 commented on #70
Hello @tmattio
Thanks for your comprehension. I really think that a line stating that the project uses base and a link will probably enough for most people. In my particular case I would have probably hit the same problem because I am kind of impatient for trying new things, but that is nothing everybody else should fix 🤣
Knowing that I'm referring to the CLI template, where folder and files opera

[2020-04-10 08:42] danielo515 opened #71 "[HELP] How does %%VERSION%% work?"
Hello,
Sorry for opening an issue just partially related (this is code that I got from running a template), but I'm not sure if this is a common Ocaml idiom or something specific to your template.
How is the version thing supposed to work? If I run `esy x cmd --version` I just get the literal string `%%VERSION%%`. On CI the test expects an empty string but the actual command returns a git sha. How

[2020-04-10 08:55] danielo515 commented on #71
Just found on the CI files that `esy dune subst` is run.
I run that command locally and, yes, makes the appropriate substitutions.
However, after that the code does not build or run anymore, and I get a rather philosophical stack trace:

[code]

[2020-04-10 09:13] danielo515 commented on #71
I found the problem.
Sems that dune subst is adding wrong strings to dune-project and xxxx.opam files:

![image](https://user-images.githubusercontent.com/2270425/78979482-3fecb680-7b1c-11ea-8215-33e1302087c0.png)

![image](https://user-images.githubusercontent.com/2270425/78979494-44b16a80-7b1c-11ea-987c-d7da1f1caffc.png)

Reverting those files makes the project to compile again and the tests pas

[2020-04-10 09:38] danielo515 commented on #71
Ok, I just cloned spin, run the subst command and the very same behaviour happens. So at least is not just on project, seems to be something recent maybe? I don't think it's my local installation because it fails also on CI

[2020-04-10 09:44] danielo515 commented on #71
looking closer at the actual steps that should be taken they are:

- esy dune substs
- esy dune build
- esy test

If I perform those locally then everything works as expected. Maybe there was some problem during the ci pipeline. I'll check it out

[2020-04-10 11:11] danielo515 commented on #71
Nevermind. Just restart the build pipe and everything worked.
Sorry for the inconvenience.

[2020-04-10 11:11] #71 closed, assigned to nobody

[2020-04-16 21:46] dylanirlbeck opened #72 "Error running `esy` on fresh ppx project"
So I created a new ppx project with

[code]

and after running `esy` inside the directory I immediately got the following error:

[code]

I solved the issue with `rm -rf test` but this doesn't seem like the right approach. Can I get some advice on how to solve this? Thanks in advance!

[2020-04-18 16:15] #43 closed, assigned to nobody

[2020-04-18 16:15] #70 closed, assigned to nobody

[2020-04-18 16:22] tmattio commented on #72
Hi @dylanirlbeck!

Thanks for reporting the issue. The problem seems to be that the executable defined in `test/dune` does not have the `preprocess` stanza, whereas the library does. Apparently, dune handles this just fine, but merlin format is limited and can't find a way to represent this.

I made a PR to fix this, but I'm going to wait a bit before the next release of Spin. In the meantime, to

[2020-04-18 23:14] idkjs opened #73 "Error Adding Package to spin."
I am trying to add [aantron/luv](https://github.com/aantron/luv) to a project and I am getting the error below.

[code]

Here is the working project before you add `luv`. https://github.com/idkjs/luv-cli

As soon as you add luv, the build breaks with the above error. `luv` requires `ocaml 4.08+.*` or higher. `spin` bootstrapped with `4.09.0` so I dont know if that should be an issue. I though mayb

[2020-04-19 18:14] tmattio commented on #73
Hi @idkjs, thanks for the issue.

I believe the issue is that `Result.get_ok` comes from the standard library, but Spin-generated projects use Base. We took the decision to use the standard library instead of Base recently (see https://github.com/tmattio/spin-templates/pull/10), but I didn't release a version with this change yet.

For now, you can either remove Base (by removing it from `dune-pro

[2020-04-20 15:05] idkjs commented on #73
`Result.return` is apparently not a drop in replacement for `Result.get_ok`.

If I remove `base` every where, including in the `project.opam`, delete `_esy`, `node_modules` and `esy.lock` dirs. There is no base left in the project except in `.git.hooks`?:

[code]

Then run `esy` to reinstall:

[code]

Then `grep -R 'base' .` again and base is everywhere:
[code]

I read the https://github.com/tmatt

[2020-04-20 21:32] dylanirlbeck commented on #72
Great, thanks!

[2020-04-20 21:32] #72 closed, assigned to nobody

[2020-04-21 20:53] tmattio commented on #73
Having Base present in the lock file is to be expected since a lot of libraries depend on it.

I read the blog post and it pains me to see that you're having more trouble with Spin than with other tools when the exact goal of Spin is to make it straight forward to start new projects. So let's get to the bottom of it 🙂

I've read the doc more carefully and I think there is no alternative to `Result

[2020-04-21 21:20] idkjs commented on #73
My brother! Reproduction is here: https://github.com/idkjs/luv-cli. [master](https://github.com/idkjs/luv-cli/tree/master) work before adding `luv`.

Blows up on [add-luv branch](https://github.com/idkjs/luv-cli/tree/adding-luv).

Thanks in advance. There must be a simple way to say, hey, lets not use this and change out the deps.

I feel your pain. But this is the work we go through to get to whe

[2020-04-21 21:59] tmattio commented on #73
I've tried the branch and it works fine!

I see that there were two issues in your comment:
- Being unable to run Luv's code example, which you've successfully solved by removing base from your project
- Esy throws a permission error when trying to generate the opam file (`Error: exception Sys_error("luv-cli.opam: Operation not permitted")`). You can work around this by running `esy dune build`, w

[2020-04-21 22:09] tmattio commented on #73
I've opened an issue in Esy related to this: https://github.com/esy/esy/issues/1085

[2020-04-22 13:15] idkjs commented on #73
I was not able to resolve running the Luv example.  My point was basically that it was difficult to remove the base dependency and recompile at all. Still can't do it in a `spin` context. You said you tried the branch and it worked? I am going to download a fresh copy to see.

That error was new to me. Tried guessing around, unsuccessfully. Your chasing that down is a win! Thanks.

[2020-04-22 13:48] idkjs commented on #73
Just ran your fork, still crashes. Maybe its my machine some kind of way. If i understood you correctly, you were able to run that successfully?

[code]

[2020-04-22 14:01] tmattio commented on #73
You did though. Base is not a dependency in the project you linked. As mentioned previously, having Base present in the lock file is to be expected since a lot of libraries depend on it.

Have you tried running `esy dune build`?

[2020-04-22 15:00] idkjs commented on #73
I confirm it works with calling `esy dune build` directly.

[code]

So the take away, is that we found a bug and in the meantime by posting this issue, you, the graceful maintainer has directed the user to a temporary work around. That sound about right?

Like I said in the post, the work flow is nice. Thanks for the work you put in here!

[2020-04-22 15:17] #73 closed, assigned to nobody

[2020-05-05 21:15] tmattio commented on #52
I'm not convinced the project is large enough to justify a website. The documentation can live in the repo for now. I'll revisit this later.

[2020-05-05 21:15] #52 closed, assigned to nobody

[2020-05-05 21:16] tmattio commented on #53
I am tidying up the issue board and I'd like to keep only short term issues. This should be documented in a roadmap. Closing for now.

[2020-05-05 21:16] #53 closed, assigned to nobody

[2020-05-13 21:10] tmattio commented on #39
This issue does not make sense with the updated `cli` template in https://github.com/tmattio/spin/pull/74 since the common arguments can easily be added in the `common.ml` file. Closing now, the PR should be merged soon.

[2020-05-13 21:10] #39 closed, assigned to nobody

[2020-05-13 21:16] tmattio commented on #16
Done in #74

[2020-05-13 21:16] #16 closed, assigned to nobody

[2020-05-13 21:16] tmattio commented on #45
Done in #74

[2020-05-13 21:16] #45 closed, assigned to nobody

[2020-05-13 21:16] tmattio commented on #59
Done in #74, the templates CI/CD will now be in the spin repository.

[2020-05-13 21:16] #59 closed, assigned to tmattio

[2020-05-13 21:20] tmattio commented on #67
A fix for this is implemented in #74. The `bs-react` template will use `yarn` if it is available, or `npm` if not.

We define this in the template like this:
[code]

Closing this now since I want to merge the PR in the next days (and tidy up the issue board at the same time).

[2020-05-13 21:20] #67 closed, assigned to nobody

[2020-05-16 14:15] tmattio commented on #25
Done in #74

[2020-05-16 14:15] #25 closed, assigned to nobody

[2020-05-16 15:26] idkjs opened #75 "https://github.com/tmattio/spin-templates archived?"
Where is the source for the templates now?

Thanks.

[2020-05-16 15:32] tmattio commented on #75
Hi @idkjs!

I am preparing for the release of Spin 0.6.0. The templates are now embedded in the executable and they are defined here: https://github.com/tmattio/spin/tree/next/template.

Will post a release note with more details on this very soon 🙂

[2020-05-16 15:32] #75 closed, assigned to nobody

[2020-05-16 15:41] idkjs commented on #75
Random thought. Building your templates takes forever. You might consider a github action that prebuilds the each template and makes them downloadedable. For example, https://github.com/reasonml/reasonml.github.io/pull/639, or https://discordapp.com/channels/235176658175262720/235199119747055616/706875693711097878

[2020-05-16 15:57] tmattio commented on #75
The template generation on itself is actually pretty fast (a few milliseconds). It takes time because Spin downloads the dependencies and builds the project for you (using the package manager you provided). The same approach is taken by `create-react-app`, and the projects are similarly long to build.

Even if I provided pre-built versions of the templates (which I can't really do because they wou

[2020-05-16 16:00] tmattio commented on #75
FWIW, Esy projects will take more time time to build because Esy will create a local sandbox for your project. When using Opam, it will use your current switch, and if you already have the dependencies installed (which is very likely since the templates use common libraries), the projects are generated and built relatively fast:

[code]

[2020-05-16 16:06] idkjs commented on #75
ok. just tried running spin new cli. It took a while then errored out on `ocaml-base-compiler.4.07.1`.

[code]

Dont have the error output, will re-run to get it if you want me to. spin installed via `brew`.

[2020-05-16 16:12] tmattio commented on #75
Interesting...  Would you mind trying this with the `next` version? There were a lot of things that changed (i.e. everything), and I'd really like to have this kind of feedback before I release!

The CLI template depends on `4.08.0` now.

[2020-05-16 16:44] idkjs commented on #75
What is the command?

[2020-05-16 16:49] tmattio commented on #75
It's not released yet, so you can clone the repository and install from the source:
[code]

[2020-05-16 16:53] idkjs commented on #75
[code]

Install `inquire 0.1` and ran `make build` anyway:

[code]

[2020-05-16 16:59] tmattio commented on #75
You need to upgrade your Opam repository to get the new version of the libraries:
[code]

`make dev` should work after that 🙂

[2020-05-16 17:00] tmattio commented on #75
Also, I just added a lower bound for Lwt, so you can pull the repo if you have a problem with Lwt.

[2020-05-16 17:05] tmattio commented on #75
That's strange. Did you run this?
[code]

[2020-05-16 17:25] idkjs commented on #75
building

[2020-05-16 17:28] idkjs commented on #75
`history`
[code]

Same error: All the output I could recover:

[code]

[2020-05-16 18:06] tmattio commented on #75
Seems like the Spin executable that's found in your system is still the old one (0.5.1). I guess your Homebrew bin directory comes before Opam's one in your PATH.

You can uninstall the version of Spin in your system as a quick workaround.

I took note of the "esy-installer not found" and I removed it from the templates, thanks, very helpful!

[2020-05-16 19:05] idkjs commented on #75
no spin but the one i just built, still getting the `spin new cli` error.

[code]

I built it, then tried with running `opam install .` from the build dir.

[code]

Just FYI in case anything for you in there. Grind on, brother!

[2020-05-16 19:06] tmattio commented on #75
Did you pull the changes? I removed all mentions of `esy-installer` 🤔

[2020-05-16 19:15] idkjs commented on #75
building from git

[code]

# And here we try to build

[code]

[2020-05-16 19:20] tmattio commented on #75
Not sure of what's happening... Could you copy-past the generated `esy.json` file here?

[2020-05-16 20:55] idkjs commented on #75
https://github.com/idkjs/spins

# esy.json

https://github.com/idkjs/spins/blob/4c3348816b122000d390f7668856ab0d9c1fd09c/new-cli-test/esy.json#L1-L36

[2020-05-16 21:24] tmattio commented on #75
Thanks! Seems like it was a `refmterr` that couldn't be built. I've specified lower bounds for `refmterr` and `ocaml` and it looks like it fixed the issue. I've pushed the fix if you want to try again.

[2020-05-17 15:51] johnridesabike opened #76 "Use stricter warnings and errors in templates?"
This is opinionated, but I think there's a wide agreement that more warnings is better.

[Here's one recommendation a lot of people follow:](https://dev.to/yawaramin/ocaml-reasonml-best-practice-warnings-and-errors-4mkm)

BuckleScript's bsconfig.json
[code]
Dune's dune file
[code]

(Personally, I also disable warning 42 in my projects since some libraries aren't compatible with it.)

Although this

[2020-05-17 16:25] tmattio commented on #76
Thanks for the suggestion @johnridesabike!

I agree that generally, the more warnings, the better. I'm preparing a new release of Spin and will include this in it. I think disabling warning 42 makes sense for most use cases, so I'll add it to the list of the disabled warnings.

[2020-05-17 16:27] tmattio commented on #76
For native templates, I'm thinking of adding a `dune` file at the root of the project with the following:
[code]

If users want to opt-out, they can simply delete this file or update it. What do you think?

[2020-05-17 17:28] johnridesabike commented on #76
That looks good to me.

[2020-05-18 09:39] #76 closed, assigned to nobody

[2020-05-19 10:40] tmattio opened #78 "Distribute on NPM and Homebrew"
Spin 0.6.0 is complete, but I encountered several issues when trying to distribute it. As of now, it is released on Opam, but not on NPM and Homebrew.

Unfortunately, I have to work on something else and won't have a lot of time to solve these issues in the coming weeks, so I'm documenting them here and will try to address them when I have time.

## CI/CD of templates

Running `make test-template`

[2020-05-25 13:19] despairblue commented on #78
The [using a script](https://github.com/tmattio/spin#using-a-script) install method is currently broken too:

1. the link is wrong since the script directory changed names (scripts -> script)
2. the binary in the zip file is now called `main.exe`
3. the camomile thing you listed above

Regarding 3., would it be possible to use `ocaml-crunch` to bake the file camomile needs into the binary?

[2020-05-25 13:58] despairblue opened #79 "Can contributing be made easier?"
I'm trying to contribute but can't get it to compile on my machine:

1. `make dev` works, but `make build` fails then, even after `eval (opam env)`.

<details>
<summary>Details</summary>

[code]

</details>

2. I tried `dune external-lib-deps --missing @@default` which told me I'm missing `alcotest` and `inquire`, so I added them [here](https://github.com/tmattio/spin/blob/0c6879fc51eb291a1baef2df

[2020-05-25 14:15] tmattio commented on #78
Hey @despairblue!

Thanks for listing the issues with the script installation. I've fixed the first two.

Regarding the Camomille issue, I opened an issue on Lambda-Term and there was already some work in progress to remove the dependency on Camomille. I'll wait a bit to see if a new version of Lambda-Term is released in the next week or so, and I'll vendor the WIP repositories if not.

[2020-05-25 15:00] tmattio commented on #79
Hey @despairblue,

First thanks for trying to contribute. PRs and other contributions are more than welcome!

It seems there are several issues with the setup of the development environment.

- I think your opam repository might not be up to date. It fails to find Lwt 5.3.0, which is a recent version. You can try running `opam update && opam upgrade` to update your repository.
- You should not nee

[2020-06-27 05:03] r17x opened #80 "failed start new project with spin 0.6.0"
Hello @tmattio , I have some issue with `spin` when I want to start new project `cli` or `native` template.

This is how I use `spin`:
[code]
I'm new corner of `Reason` or `OCaml` ecosystem & I don't know  how to solve this problem, maybe you can help me :smiley:

This is my `system information`, Maybe this helpfully:
[code]

Thank you

[2020-06-27 07:53] tmattio commented on #80
Hey @ri7nz!

Welcome to Reason / OCaml community and thanks for trying out Spin 😉

The `native` template has been renamed to `bin` in 0.6.0. The error message is not very helpful, I'll improve it. If you want the most up to date list of official templates, you can run `spin ls`.

For the second error, it seems the `project` is not empty. Spin cannot generate a project in a non-empty directory. Cou

[2020-06-27 08:46] r17x commented on #80
Hey @tmattio

thank you so much for your quick reply, I have been trying and work correctly.

Yes, this project is help me, thank you for making `spin`, good job.

Sorry for my bad.

Yes, it's worked for `bootstrapped` the project with spin.

But, I'm still have an issue, when trying `run` the project with `esy start`.

<details>
<summary> esy start </summary>

[code]

</details>
Thank you so much

[2020-06-27 09:25] tmattio commented on #80
Never seen this error. I'd lean toward an environment misconfiguration. Can you try cleaning your env (delete `~/.esy`, `_esy` or `_build` and `esy.lock`). If it does not work, I would recommend posting your error on Discord, on the Esy channel. You can create a repo with the lock files (`esy.lock`) also, I could try to reproduce.

[2020-06-27 13:28] r17x commented on #80
@tmattio Solved

I'm using `gcc 10` and search related things between opam and gcc, and found this solution https://discuss.ocaml.org/t/opam-switch-create-and-gcc10/5864/13 from https://github.com/ocaml/opam-repository/issues/16538

[2020-07-06 20:30] #80 closed, assigned to nobody

[2020-07-20 08:42] tmattio commented on #79
I'm going to close this for now, let me know if I can help you further.

[2020-07-20 08:42] #79 closed, assigned to nobody

[2020-07-20 16:40] tmattio opened #83 "Support Nix as a package manager in every template"

[2020-07-20 16:42] tmattio commented on #55
I'm going to close this for now as there's no activity. Don't hesitate to re-open if the problem persists.

[2020-07-20 16:42] #55 closed, assigned to nobody

[2020-07-20 16:45] tmattio commented on #78
I've vendored a Camomille-free version of Inquire. This means that I will be able to deploy the next release on NPM.
I want to finish two templates (`spa` and `web`) before I release, but once they are merged, we'll finally have Spin 0.6.X on NPM (and Homebrew)!

[2020-07-20 16:45] #78 closed, assigned to nobody

[2020-07-23 14:46] citizen428 commented on #83
Can you please add a bit more info in the description? I might be able to help with this.

[2020-07-23 15:16] tmattio commented on #83
I'm not familiar with Nix, so this was mostly an exploration issue on my side. But from what I understand, Nix is a package manager that could replace Esy or Opam to fetch the dependencies, so the goal would be to offer Nix as an alternative to the currently supported package managers (Esy and Opam).

I'm not sure if that makes sense?

The setup could be inspired by anmonteiro's packages, which al

[2020-07-24 02:14] citizen428 commented on #83
In the case you linked Nix is not used to install the package, but to make it easier to hack on, see https://github.com/anmonteiro/piaf#option-1-setting-up-the-sandbox. 😃 `nix-shell` drops the user in a new shell, that will be configured (packages installed without interfering with the user's system etc.) according to `nix/default.nix` and the other files it sources.

[2020-08-23 18:38] idkjs opened #84 "Running fresh template"
Running the suggested `esy install` command gets you

[code]

Maybe its not important but wanted to let you know.

This seemed to help https://github.com/tmattio/spin/issues/72#issuecomment-615898220

[2020-09-08 23:03] tmattio commented on #84
Hey @idkjs! Sorry for the late answer.

I've added a configuration in the `dune-project` for this. I'm not convinced adding this is the way to go, but it does not seem to hurt.

Thanks for reporting the issue 🙂

[2020-09-08 23:03] #84 closed, assigned to nobody

[2020-09-27 03:32] shonfeder opened #86 "Make Reason an optional dependency"
The `Reason` dependency currently puts an upper limit on the ocaml compiler, and it adds some unneeded bloat for users who aren't interested in that syntax variant. Would it be possible to make `Reason` an optional dependency and, if so, would you open to this change?

[2020-09-28 14:54] tmattio commented on #86
Hi @shonfeder!

I'm not familiar with how optional dependencies work, but if that's feasible without degrading the experience of Reason users, I'm 100% open to it!

Spin is also distributed as a standalone executable, an npm package, and a Homebrew package. You are not constrained by OCaml's upper limit with them. The last version is only available on Opam, but I will release it on the other insta

[2020-09-30 14:56] shonfeder commented on #86
Thank you for the pointer to the other package managers!

If I get some some free cycles, I can look into adding the optionality. :)

[2020-10-04 02:43] rgrinberg commented on #86
Today, I suggested to a user to use spin to quickly start with a project. Unfortunately, he had some problems installing it:

[code]

If spin had a leaner dependency profile, issues like this could be avoided for opam users. I bet it would also make it easier to package spin for upstream distro users.

As a side note: I've been considering to to deprecated `dune init` and just tell users to use sp

[2020-10-04 12:39] tmattio commented on #86
@rgrinberg Thanks for reporting the issue!

As you've experienced with the release of ocaml-lsp-server on opam, compatibility with the latest version of OCaml is blocked until Reason is released on opam. That's very unfortunate, but I don't see any alternative at the moment: Reason users constitute a large portion of Spin users, so dropping support for Reason is not an option. As I said, I am not

[2020-10-04 12:46] rgrinberg commented on #86
Why would dropping reason as a dependency degrade the experience for reason users of spin? The only thing that should matter to users is that reason/ocaml templates are available, right? It would just be a matter of running `refmt` in spin I think.

[2020-10-04 12:53] tmattio commented on #86
You're right! Spin uses a custom implementation of refmt. I can't remember any good reason for this, so I could try removing the custom implementation and call `refmt` instead.

[2020-10-04 12:55] tmattio commented on #86
Ah, actually the reason for this is that I wanted spin to be usable by users who don't have reason on their system.
Typically, `esy` users don't have Reason installed globally, it's only installed in their project's sandbox.

[2020-10-04 12:55] rgrinberg commented on #86
And if that doesn't work, you could always just put your custom wrapper `spin-refmt` subpackage. As long as you can just call it as a binary.

[2020-10-04 12:57] rgrinberg commented on #86
Seems like  you should be using the version of reason in their sandbox then 🤔 There are many versions of reason out there and it doesn't seem like it's possible to always use the one in spin.

[2020-10-04 12:59] tmattio commented on #86
Great idea! Would be the same for opam projects actually, the workflow would to generate the project and install the dependencies first, then reformat the code and remove the `ml` files.

[2020-10-05 18:17] #86 closed, assigned to nobody

[2020-10-06 21:17] qtlis opened #88 "Prompts unreadable on light themes"
Presumably thanks to the text colour being force-set to white, the prompts are unreadable in a terminal using a light theme:

Konsole/Yakuake with Linux colours theme for reference
![Screenshot_20201006_230138](https://user-images.githubusercontent.com/15247429/95259852-1fca5580-0828-11eb-9f5c-574373c88ab8.png)

…and with with some default light themes
![Screenshot_20201006_230156](https://user-im

[2020-10-07 15:15] citizen428 commented on #88
Some terminals export a variable called `COLORFGBG` (e.g. iTerm2, rxvt), other xterm compatible terminals rely on an escape sequence:

[code]

One could probably wrap this up in some detection code and then change the output color based on this.

[2020-10-07 15:27] tmattio commented on #88
Thanks for opening the issue @qtlis and thanks for the tip @citizen428!

Will look into it as soon as I have some spare time. The fix will most likely have to be implemented in [inquire](https://github.com/tmattio/inquire), since that where the prompts are handled.

[2020-10-08 02:59] citizen428 commented on #88
@tmattio If I have time — which wasn't really the case these past few months as you have noticed — I'll take a look at inquire and see what I can come up with.

[2020-10-08 07:04] tmattio commented on #88
@citizen428 Sure, let me know if I can help with anything if you end up looking into it 🙂

[2020-10-15 14:29] tmattio opened #89 "Validate that used variables are defined"
At the moment, the template generation will fail if an undefined variable is used. This can happen at the very end of the project generation, which wastes a lot of time for something that could be checked when reading the template configuration.

Same thing applies to the existence of the the output directory: we should check if the directory exists before prompting the configurations to the user.

[2020-10-22 13:46] fakenickels opened #90 "Support specifying the files that are actual templates and just copy the rest of the files mode?"
First of all, thanks for the awesome piece of software 🙏.

---

As far as I tested it `spin` seems to try to map over all the files in the project.
If you are trying to spin up a relatively more complex or big project it takes some time to just load the files and then after the set up prompts and fails due to some different named files, for instance asset names within a iOS project or Android like

[2020-10-22 14:03] tmattio commented on #90
Hey @fakenickels 🙂

There's no way to do this at the moment, but I think that's a great idea! Something like a `raw_files` stanza in the spin template config that will instruct the generator engine to just copy the files, without processing them.

A PR for this would be very much welcomed if you want, otherwise, I'll look into it 👍

[2020-10-22 14:06] tmattio commented on #90
Although, to be sure I understand the issue:

Is the issue that the generation fails after the prompt, or is it that the generation takes too much time?

Also, could you copy the error that you're encountering here? I'm not sure why Spin would fail because of the filenames.

[2020-10-22 15:03] fakenickels commented on #90
Hey! Sorry, I just tried again and I realized I misread the error. The actual error is something else
[code]

[2020-10-22 15:04] fakenickels commented on #90
Looks like it fails while trying to apply the template in a font file. But I also got the same error with some images. Looks like it happens with binary files

[2020-10-22 15:12] tmattio commented on #90
Thanks for the details!

So yeah, I think what you were suggesting is a good solution here: let's have a stanza that instructs spin to not parse a list of files. In addition to that, it would probably make sense to have a list of extensions to not parse by default (everything binary)

[2020-10-23 11:52] fakenickels commented on #90
That would be amazing! For now I'll try to use the `ignore` stanza and then add a post command to copy over the ignored files to the new destination.

If you want I can go ahead and submit a PR to include the new "raw_files" stanza!

[2020-10-23 11:59] tmattio commented on #90
I'm not sure the post commands can access the template files, so that might not be possible.

Sure, a PR for this, if you have time to look into it, would be very appreciated 🙂

[2020-10-24 12:01] #90 closed, assigned to nobody

[2020-10-24 12:07] tmattio commented on #90
Hey @fakenickels! I went ahead and implemented it. Let me know if you have any other issue 🙂

[2020-10-24 12:08] tmattio commented on #89
I implemented the check for empty directories in #93, I'm still pondering the validation of non-declared variables, will re-open if I decide to do it.

[2020-10-24 12:08] #89 closed, assigned to nobody

[2020-10-24 12:10] fakenickels commented on #90
Wow! Thanks a lot ☺️

[2020-10-31 05:12] ghost opened #100 "change default license?"
Is it okay if I send a PR to change the default license in you templates to agpl?

[2020-10-31 12:46] tmattio commented on #100
Hi @kanishka-work,

Thanks for the suggestion. I don't think changing the default license of the templates would be a good solution: lots of users probably prefer MIT as the default license.

However, I'd very much welcome a PR to offer a choice of license as a configuration of the templates. Here's a list of license most used in Opam packages, from Drom:
https://github.com/OCamlPro/drom/blob/0fc2

[2020-11-07 04:53] ghost commented on #100
I will reopen a little later, if I expect to actively work on this. Probably won't get to it for a while.

[2020-11-07 04:53] #100 closed, assigned to nobody

[2020-11-15 16:05] wokalski opened #101 "Use dune runtest for rely"
In order to support colored display `dune` needs to be called with `--no-buffer` (`esy dune runtest --no-buffer`)

[2020-11-16 08:25] tmattio commented on #101
Hey @wokalski,

Thanks for the issue! I've just tried `esy dune runtest --no-buffer` in a newly generated `bin` project, and the output is not colored. Not sure why, but nonetheless, definitely onboard to use `dune runtest` instead of the executable - I'll investigate more 🙂

[2020-11-16 10:55] wokalski commented on #101
Interesting. I do get colors 😢. Maybe you either do set the Pastel option OR have the env variable set. I forgot the name of either though so I only remember "pastel option" and "env variable".

[2020-11-21 13:31] #101 closed, assigned to nobody

[2020-12-10 10:28] #64 closed, assigned to nobody

[2020-12-10 10:29] #83 closed, assigned to nobody

[2021-01-08 18:10] joseferben opened #106 "Generator documenation"
Hey!

Neat project and DSL, everything works nicely.

I have the initial version of https://github.com/oxidizing/spin-sihl ready and would like to keep the template options simple, but support adding components later on. Are generators covering this use case?

I saw the `spin gen GENERATOR` feature mentioned in the readme. Is this somewhere documented, in particular how to implement generators? I

[2021-01-12 09:09] tmattio commented on #106
Hi @jerben 🙂

Indeed, the DSL ought to be documented properly. There is some documentation here: https://github.com/tmattio/spin/blob/master/doc/template-dsl.md, but it does not document the `generator` stanza.

If you want an example, you can look into the `cli` template that provides a `cmd` generator:
https://github.com/tmattio/spin/blob/master/template/cli/spin#L14

[2021-04-28 10:28] tmattio opened #107 "Update template rules for `project_description`"
The current rule disallows description ending with `.`. In reality, it should disallow any description ending with punctuation since Opam might decide to add a `.` at the end of the description.

Reported by @dra27

[2021-05-17 08:49] voodoos opened #109 "Cannot spin Dream template with opam 2.0.8"
System: Macos big sur
Opam: 2.0.8

Commmand:
`spin new https://github.com/tmattio/spin-dream.git projectname`

Output:
[code]

Upgrading Opam to `2.1.0~beta4` fixed this issue. However I guess it is bad to rely on a non-released version of Opam.

[2021-05-25 08:54] #109 closed, assigned to nobody

[2021-05-26 12:08] tmattio commented on #88
This should be fixed by #111, which upgraded to the latest version of `inquire`. The prompts are now bold only and use the default color of the terminal.

I'll cut a release of Spin soon, so the next version will be usable on light terminals 🙂

[2021-05-26 12:08] #88 closed, assigned to nobody

[2021-05-26 12:09] tmattio commented on #40
Most likely won't do this, supporting Github only for the official template seems fine. I'd welcome a PR to add other CI setup though.

[2021-05-26 12:09] #40 closed, assigned to nobody

[2021-05-26 12:13] tmattio commented on #106
I'm going to remove the generator feature in the next release. I'm not quite happy with it in its current state, so I'll come back to it to implement a better version. I'll also provide a clear documentation when that's ready.

So I'll close this in the meantime, don't hesitate to share feedback on the "previous" generator implementation if you ended up using it, it will be useful when I work on t

[2021-05-26 12:13] #106 closed, assigned to nobody

[2021-05-26 12:14] tmattio commented on #51
Closing this, for now. If someone is interested in having this, I'll re-open.

[2021-05-26 12:14] #51 closed, assigned to nobody

[2021-06-29 11:17] tmattio opened #115 "Improve prompts"
See the improvements made in https://github.com/ocaml-templates/spin-dream/pull/4

[2021-06-29 11:53] #115 closed, assigned to nobody

[2021-07-02 07:27] tmattio opened #116 "Improve error reporting"
To allow users to report errors more easily, Spin should:

- Capture the subprocesses output and write it to stdout and stderr on failure
- Display the configuration of the user (global and template-specific one) on failure
- Provide a template issue to report bugs

[2021-07-31 10:49] tmattio opened #117 "Community templates housekeeping"
[**spin-dream**](https://github.com/ocaml-templates/spin-dream)

  - [X] Example directory + script
  - [X] Command example with `opam spin`
  - [X] CI workflow
  - [X] Requirements

[**spin-reason-bin**](https://github.com/ocaml-templates/spin-reason-bin) (https://github.com/ocaml-templates/spin-reason-bin/pull/1)

  - [X] Based on official template
  - [x] Example directory + script
  - [x] Comm

[2021-09-15 20:29] dboris opened #118 "Global config `(create_switch false)` ignored"
I have disabled the creation of local switches in `~/.config/spin/default`. That doesn't seem to be checked, since spinning a template still installs a local switch.

[2021-10-04 13:08] tmattio opened #119 "Update hello project generator's docstrings"
Reported in https://github.com/realworldocaml/book/pull/3475

[2021-11-17 15:16] tmattio opened #121 "Add a section in the `hello` project generator with how-tos"
- [ ] Adding standard derivers to project (`eq`, `show`, etc.)
- [ ] How to debug
- [ ] How to compile to JavaScript

cc @pitag-ha

[2021-11-18 12:15] tmattio opened #122 "Handle short versions of GitHub URLS"
Instead of typing `spin new git@github.com:ocaml-templates/spin-dream.git`, we could support `spin new ocaml-templates/dream`.

For reference, `brew` does exactly that.

cc @avsm